{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Website</legend>
            {{ form|crispy }}
            <small class="text-muted">HTTPS cannot be enabled at the moment</small>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Confirm</button>
        </div>
    </form>
</div>
{% endblock content %}
