{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{% blocktrans with sitename=website.name %}Reset website '{{ sitename }}'{% endblocktrans %}</legend>
            <p>
{% blocktrans %}Are you sure you want to reset your website? This will permanently delete all databases and website data. After resetting your website, wait about a minute and you'll see installer when going to your website.{% endblocktrans %}
            </p>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-outline-secondary" href="{% url 'website-detail' website.id %}">{% trans "Cancel" %}</a>
            <button class="btn btn-outline-danger" type="submit">{% trans "Confirm" %}</button>
        </div>
    </form>
</div>
{% endblock content %}
