{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<div class="content-section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account' %}">{% trans "Account" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Websites" %}</li>
        </ol>
    </nav>
    <h2>{% trans "Your Websites" %}</h2>
    {% if websites %}
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Domain" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for website in websites %}
                    <tr>
                    {% comment %} <div class="card mb-4 mt-4">
                        <div class="card-header bg-dark text-white">
                            {{ website.name }} - <a href="{% if website.use_https %}https://{{ website.domain }}{% else %}http://{{ website.domain}}{% endif %}">{{ website.domain }}</a>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-outline-info" href="{% url 'website-detail' website.id %}">{% trans "View &amp; Edit" %}</a>
                        </div>
                    </div> {% endcomment %}
                        <td>{{ website.name }}</td>
                        <td><a href="{% if website.use_https %}https://{{ website.domain }}{% else %}http://{{ website.domain}}{% endif %}">{{ website.domain }}</a></td>
                        <td><a class="btn btn-outline-info" href="{% url 'website-detail' website.id %}">{% trans "Configure" %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
        {% blocktrans %}You don't have any websites.{% endblocktrans %}
        </p>
    {% endif %}
    {% if show_create_button %}
        <a href="{% url 'website-new' %}" class="btn btn-outline-success">{% trans "Create new website" %}</a>
    {% else %}
        <button class="btn btn-outline-success" disabled>{% trans "Create new website" %}</button> {% trans "Accounts are currently limited to 3 websites." %}
    {% endif %}
</div>
{% endblock content %}
