{% extends 'main/base.html' %}
{% block content %}
<div class="content-section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account' %}">Account</a></li>
            <li class="breadcrumb-item"><a href="{% url 'websites' %}">Websites</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ website.name }}</li>
        </ol>
    </nav>
    <h2>{{ website.name }}</h2>

    <div class="border-top mt-2 pt-3">
        <a href="{% url 'website-update' website.id %}" class="btn btn-outline-info">Edit</a>
        {% comment %} <a href="{% url 'website-db-pass-regen' website.id %}" class="btn btn-outline-warning">Regenerate database password</a> {% endcomment %}
        <a href="{% url 'website-delete' website.id %}" class="btn btn-outline-danger">Delete</a>
    </div>

    <div class="mt-2 pt-4">
        <h4>Website</h4>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="w-50">Domain</td>
                    <td class="w-50">{{ website.domain }}</td>
                </tr>
                <tr>
                    <td>HTTPS</td>
                    <td>{{ website.use_https }}</td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td><a href="{% if website.use_https %}https://{{ website.domain }}{% else %}http://{{ website.domain}}{% endif %}">{% if website.use_https %}https://{{ website.domain }}{% else %}http://{{ website.domain}}{% endif %}</a></td>
                </tr>
                <tr>
                    <td>Date created (UTC)</td>
                    <td>{{ website.date_created }}</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-secondary" role="alert">
            Add a <code>CNAME</code> record from <code>{{ website.domain }}</code> to <code>nlmc-website.rs-sys.nl</code>
        </div>
        <h4>Database</h4>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="w-50">hostname</td>
                    <td class="w-50">database</td>
                </tr>
                <tr>
                    <td>port</td>
                    <td>3306</td>
                </tr>
                <tr>
                    <td>database name</td>
                    <td>nameless</td>
                </tr>
                <tr>
                    <td>username</td>
                    <td>root</td>
                </tr>
                <tr>
                    <td>password</td> {% comment %} TODO Click to reveal {% endcomment %}
                    <td>{{ website.db_password }}</td>
                </tr>
            </tbody>
        </table>
        <h4>SFTP</h4>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="w-50">hostname</td>
                    <td class="w-50">vps1.derkad.es</td>
                </tr>
                <tr>
                    <td>port</td>
                    <td>2222</td>
                </tr>
                <tr>
                    <td>username</td>
                    <td>{{ website.domain }}</td>
                </tr>
                <tr>
                    <td>password</td>
                    <td>{{ website.sftp_password }}</td>
                </tr>
                <tr>
                    <td>fingerprints</td>
                    <td><small class="text-muted">ED25519 SHA256:QGG3EnIzZAgqgFuOPlWEbszKQar80d+0zSDtD0hy5Cs<br>
                    RSA SHA256:bxLa03FqaUbdDhEaMlj3oTKMw+jCTfDXWGxYDRXlytI</small></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
