{% extends 'main/base.html' %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset website '{{ website.name }}'</legend>
            <p>Are you sure you want to reset your website? This will permanently delete all databases and website data.</p>
        </fieldset>
        <div class="form-group">
            <a class="btn btn-outline-secondary" href="{% url 'website-detail' website.id %}">Cancel</a>
            <button class="btn btn-outline-danger" type="submit">Confirm</button>
        </div>
    </form>
</div>
{% endblock content %}
