{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<div class="content-section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account' %}">{% trans "Account" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'websites' %}">{% trans "Websites" %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ website.name }}</li>
        </ol>
    </nav>

    <div class="d-flex justify-content-between border-bottom">
        <div>
            <h2>{{ website.name }}</h2>
        </div>
        <div>
            <a href="{% url 'website-update' website.id %}" class="btn btn-outline-info mr-2">{% trans "Edit" %}</a>
            <a href="{% url 'website-reset' website.id %}" class="btn btn-outline-warning mr-2">{% trans "Reset" %}</a>
            <a href="{% url 'website-delete' website.id %}" class="btn btn-outline-danger">{% trans "Delete" %}</a>
        </div>
    </div>

    {% comment %} <a href="{% url 'website-db-pass-regen' website.id %}" class="btn btn-outline-warning">Regenerate database password</a> {% endcomment %}
    <div class="alert alert-secondary mt-4" role="alert">
        {% blocktrans trimmed with domain=website.domain cname_target="site.namedhosting.com" wiki_url="https://github.com/Derkades/namelessmc_hosting/wiki/Creating-a-CNAME-record" %}
            Add a <code>CNAME</code> record on <code>{{ domain }}</code> (and <code>www.{{ domain }}</code>) that points to <code>{{ cname_target }}</code>. This process varies depending on
            where you registered your domain. For more information, please read <a href="{{ wiki_url }}" target="_blank">Wiki: Creating a CNAME record</a>.
        {% endblocktrans %}
    </div>
    <div class="mt-2">
        <h4>{% trans "Website" %}</h4>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="w-50">{% trans "Domain" %}</td>
                    <td class="w-50">{{ website.domain }}</td>
                </tr>
                <tr>
                    <td>HTTPS</td>
                    <td>{{ website.use_https }}</td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td><a target="_blank" href="{% if website.use_https %}https://{% else %}http://{% endif %}{{ website.domain }}">{% if website.use_https %}https://{% else %}http://{% endif %}{% if website.www %}www.{% endif %}{{ website.domain }}</a></td>
                </tr>
                <tr>
                    <td>{% trans "Date created (UTC)" %}</td>
                    <td>{{ website.date_created }}</td>
                </tr>
            </tbody>
        </table>
        <h4>{% trans "Database" %}</h4>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="w-50">{% trans "address" %}</td>
                    <td class="w-50"><code>database</code></td>
                </tr>
                <tr>
                    <td>{% trans "port" %}</td>
                    <td><code>3306</code></td>
                </tr>
                <tr>
                    <td>{% trans "username" %}</td>
                    <td><code>user_{{ website.id }}</code></td>
                </tr>
                <tr>
                    <td>{% trans "password" %}</td> {% comment %} TODO Click to reveal {% endcomment %}
                    <td><code>{{ website.db_password }}</code></td>
                </tr>
                <tr>
                    <td>{% trans "database name" %}</td>
                    <td><code>site_{{ website.id }}</code></td>
                </tr>
                <tr>
                    <td>{% trans "phpmyadmin" %}</td>
                    <td><a target="_blank" href="https://phpmyadmin.namedhosting.com">https://phpmyadmin.namedhosting.com</a></td>
                </tr>
            </tbody>
        </table>
        <h4>{% trans "Files" %}</h4>
        <p>
{% blocktrans %}Use an FTP client to connect. We recommend FileZilla or WinSCP. The server supports TLS encryption. FileZilla will tell you that the certificate is "unknown", no worries, <a href="https://forum.filezilla-project.org/viewtopic.php?t=25595"> it displays this even for trusted certificates</a>, you can click OK.{% endblocktrans %}
        </p>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="w-50">{% trans "address" %}</td>
                    <td class="w-50"><code>vps1.derkad.es</code></td>
                </tr>
                <tr>
                    <td>{% trans "port" %}</td>
                    <td><code>21</code></td>
                </tr>
                <tr>
                    <td>{% trans "username" %}</td>
                    <td><code>user_{{ website.id }}</code></td>
                </tr>
                <tr>
                    <td>{% trans "password" %}</td>
                    <td><code>{{ website.files_password }}</code></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
