{% extends 'main/base.html' %}
{% block content %}
<div class="content-section">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'account' %}">Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Websites</li>
        </ol>
    </nav>
    <h2 class="border-bottom">Your sites</h2>
    {% for website in websites %}
        <div class="card mb-4 mt-4">
            <div class="card-header bg-dark text-white">
                {{ website.name }} - <a href="{% if website.use_https %}https://{{ website.domain }}{% else %}http://{{ website.domain}}{% endif %}">{{ website.domain }}</a>
            </div>
            <div class="card-body">
                <a class="btn btn-outline-info" href="{% url 'website-detail' website.id %}">View &amp; Edit</a>
            </div>
        </div>
    {% endfor %}
    <a href="{% url 'website-new' %}" class="btn btn-outline-success">Create new website</a>
</div>
{% endblock content %}
