html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #171717;
}

.homepage-illustration {
    height: 200px;
    width: 100%;
}

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

main.features > div > div {
    border-radius: .5em;
}
