html {
    position: relative;
    min-height: 100%;
}

body {
    /* Compensate for footer height */
    margin-bottom: 200px;
}

footer a {
    color: white;
    text-decoration: underline;
}

footer {
    font-size: small;
    background-color: #202020;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.homepage-illustration {
    height: 200px;
    width: 100%;
}

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

main.features > div > div {
    border-radius: .5em;
}
