html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #171717;
}
