{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title%}
            <title>Named Hosting - {{ title }}</title>
        {% else %}
            <title>Named Hosting</title>
        {% endif %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Named Hosting</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% url 'home' as home_url %}
                    <li class="nav-item {% if request.get_full_path == home_url %}active{% endif %}">
                        <a class="nav-link" href="{{ home_url }}">Home</a>
                    </li>

                    {% comment %} {% url 'pricing' as pricing_url %}
                    <li class="nav-item {% if request.get_full_path == pricing_url %}active{% endif %}">
                        <a class="nav-link" href="{{ pricing_url }}">Pricing</a>
                    </li> {% endcomment %}
                </ul>
                <ul class="navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% url 'websites' as websites_url %}
                        <li class="nav-item {% if request.get_full_path == websites_url %}active{% endif %}">
                            <a class="nav-link" href="{{ websites_url }}">Your Websites</a>
                        </li>

                        {% url 'account' as account_url %}
                        <li class="nav-item {% if request.get_full_path == account_url %}active{% endif %}">
                            <a class="nav-link" href="{{ account_url }}">Account</a>
                        </li>

                        {% url 'logout' as logout_url %}
                        <li class="nav-item {% if request.get_full_path == logout_url %}active{% endif %}">
                            <a class="nav-link" href="{{ logout_url }}">Logout</a>
                        </li>
                    {% else %}
                        {% url 'login' as login_url %}
                        <li class="nav-item {% if request.get_full_path == login_url %}active{% endif %}">
                            <a class="nav-link" href="{{ login_url }}">Login</a>
                        </li>

                        {% url 'register' as register_url %}
                        <li class="nav-item {% if request.get_full_path == register_url %}active{% endif %}">
                            <a class="nav-link" href="{{ register_url }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <main role="main" class="container">
            <div class="row mt-3">
                <div class="col">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <footer>
            <div class="container text-light py-md-4">
                <div class="d-flex flex-column flex-md-row justify-content-center">
                    <div class="px-4">
                        Not affiliated with the <a href="https://namelessmc.com">NamelessMC project</a><br>
                        This hosting system is <a href="https://github.com/Derkades/namelessmc_hosting">is open source</a><br>
                    </div>
                    <div class="px-4">
                        Powered by <a href="https://rs-sys.nl/">RS Systems</a><br>
                        pls someone explain how to center footer??
                    </div>
                    <div class="px-4">
                        <a href="{% url 'privacy' %}">Privacy Policy</a><br>
                        <a href="{% url 'tos' %}">Terms of service</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
