{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<p>Hosting for NamelessMC website software. Still in development. Functionality first, design later.
 This hosting system is <a href="https://github.com/Derkades/namelessmc_hosting">is open source</a>.</p>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Easy set up</h2>
      <p class="lead">Latest NamelessMC pre-installed</p>
    </div>
    <img src="{% static 'illustrations/undraw_web_developer.svg' %}" style="width: 80%; height: 300px">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Full filesystem access</h2>
      <p class="lead">Using SFTP.</p>
    </div>
    <img src="{% static 'illustrations/undraw_my_files.svg' %}" style="width: 80%; height: 300px">
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">High performance</h2>
      <p class="lead">Dedicated web server and database server for every website.</p>
    </div>
    <img src="{% static 'illustrations/undraw_fast_loading.svg' %}" style="width: 80%; height: 300px">
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">No limits</h2>
      <p class="lead">No limits on templates, users, features, databases, etc. (only a disk quota)</p>
    </div>
    <img src="{% static 'illustrations/undraw_i_can_fly.svg' %}" style="width: 80%; height: 300px">
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Full database access</h2>
      <p class="lead">Using phpmyadmin</p>
    </div>
    <img src="{% static 'illustrations/undraw_server.svg' %}" style="width: 80%; height: 300px">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Secure</h2>
      <p class="lead">Protect your website with modern TLS encryption without hassle.</p>
    </div>
    <img src="{% static 'illustrations/undraw_security_on.svg' %}" style="width: 80%; height: 300px">
  </div>
</div>
{% endblock content %}
