{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<small class="text-muted">Not to be confused with <a href="https://namelesshosting.com">NamelessHosting</a>. I need a new name.</small>

<section id="features">
    <div class="d-md-flex flex-md-equal w-100">
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Simple</h2>
                <p class="lead">Server configured automatically, start the installer right away</p>
            </div>
            <img src="{% static 'illustrations/undraw_web_developer.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Full access</h2>
                <p class="lead">Access files using SFTP and databases using phpmyadmin</p>
            </div>
            <img src="{% static 'illustrations/undraw_my_files.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">No artificial limits</h2>
                <p class="lead">No limits on modules, templates, users, databases, etc.</p>
            </div>
            <img src="{% static 'illustrations/undraw_i_can_fly.svg' %}" class="homepage-illustration">
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100">
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Support NamelessMC</h2>
                <p class="lead">We donate part of our income to NamelessMC contributors</p>
            </div>
            <img src="{% static 'illustrations/undraw_wallet.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Secure</h2>
                <p class="lead">Protect your website with modern TLS encryption without hassle.</p>
            </div>
            <img src="{% static 'illustrations/undraw_security_on.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">High performance</h2>
                <p class="lead">Dedicated web server and database server for every website.</p>
            </div>
            <img src="{% static 'illustrations/undraw_fast_loading.svg' %}" class="homepage-illustration">
        </div>
    </div>
</section>

<div class="border-top mt-2"></div>

<section id="create-now" class="px-5 py-5 mx-2 mt-3 text-center shadow">
    <div class="py-3">
        <h2 class="display-5 text-white">Create your website now</h2>
    </div>
    <div class="py-3">
        <a class="btn btn-outline-light" href="{% url 'register' %}">Sign up</a>
    </div>
</section>

{% endblock content %}
