{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section class="jumbotron mx-2">
    <h1 class="display-4 mt-n3">Named Hosting</h1>
    <span class="lead">Start a NamelessMC website the easy way. We built our
     hosting system from scratch to be as simple as possible without limiting
     possibilities. From $3/month, free for the first 30 days, no subscription
     or payment information required.</span><br>
    <span class="text-muted">If you don't need full file and database access
     and instead want something free, check out <a href="https://namelesshosting.com">
     namelesshosting.com</a></span>
</section>

<section id="features">
    <div class="d-md-flex flex-md-equal w-100">
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Simple</h2>
                <p class="lead">Server configured automatically, start the installer right away</p>
            </div>
            <img src="{% static 'illustrations/undraw_web_developer.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Full access</h2>
                <p class="lead">Upload your own templates and edit the database using phpmyadmin</p>
            </div>
            <img src="{% static 'illustrations/undraw_my_files.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">No artificial limits</h2>
                <p class="lead">No limits on modules, templates, users, databases, etc.</p>
            </div>
            <img src="{% static 'illustrations/undraw_i_can_fly.svg' %}" class="homepage-illustration">
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100">
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Support NamelessMC</h2>
                <p class="lead">We donate part of our income to NamelessMC contributors</p>
            </div>
            <img src="{% static 'illustrations/undraw_wallet.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">Secure</h2>
                <p class="lead">Protect your website with modern TLS encryption without hassle.</p>
            </div>
            <img src="{% static 'illustrations/undraw_security_on.svg' %}" class="homepage-illustration">
        </div>
        <div class="bg-secondary px-3 pt-3 pb-5 mx-2 my-2 text-center text-white overflow-hidden shadow">
            <div class="py-3">
                <h2 class="display-5">High performance</h2>
                <p class="lead">Dedicated web server and database server for every website.</p>
            </div>
            <img src="{% static 'illustrations/undraw_fast_loading.svg' %}" class="homepage-illustration">
        </div>
    </div>
</section>

<div class="border-top mt-2"></div>

<section id="create-now" class="px-5 py-5 mx-2 mt-3 text-center shadow">
    <div class="py-3">
        <h2 class="display-5 text-white">Create your website now</h2>
    </div>
    <div class="py-3">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-light" href="{% url 'website-new' %}">Get started</a>
        {% else %}
            <a class="btn btn-outline-light" href="{% url 'register' %}">Sign up</a>
        {% endif %}
    </div>
</section>

{% endblock content %}
