{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<h2>Pricing</h2>
<div class="row">
    <div class="col md-8">
        <p>Your account will start with 30 credits. For every website you run
         it will go down by one every day. Websites with fewer than 50 users
         do not remove credits.</p>

        <p>Buy 30 credits for $5 or 100 credits for $10. (so one website is
         $2-$3/mo).</p>

        <p>NamelessMC software is free and open source. You can download and
         host it yourself for free. We donate a portion of our income to
         NamelessMC contributors.</p>
    </div>
    <div class="col md-4">
        <img src="{% static 'illustrations/undraw_wallet.svg' %}" style="width: 100%; height: 300px">
    </div>
</div>
{% endblock content %}
